.heroshot {
    @extend %container;
    background: url(../../assets/image/work-desk__dustin-lee.jpg);
    background-size: cover;
    background-blend-mode: overlay;
    background-color: $color-dark-blue;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100vw;
    color: white;
    display: grid;
    place-items: center;
    text-align: center;
    height: 695px;

    &__logo {
        height: 45px;
        position: absolute;
        left: 30px;
        top: 30px;
    }

    &__content {
        max-width: 635px;
        line-height: 1.5;

        &--name {
            font-size: 36px;
        }

        &--info {
            font-size: 23px;
        }

    }
}