.newsletter {
    background-color: $color-blue;
    // padding: 35px;
    padding: 32px;
    color: white;
    opacity: 0.9;
    max-width: 640px;
    position: fixed;
    bottom: 0;
    left: 0;
    line-height: 1.5;
    @media all and (max-width: 480px) {
        padding: 20px;
    }

    p {
        padding: 10px 0px;
    }

    &__close-button {
        border: none;
        background-color: transparent;
        color: white;
        font-size: 16px;
        position: absolute;
        top: 5px;
        right: 5px;

    }

    &__form {
        display: flex;
        flex-direction: row;

        @media all and (max-width: 480px) {
            flex-direction: column;
        }

        input {
            height: 30px;
            padding: 6px 10px;
            flex: 1;
            font-size: 14px;
            color: #686868;
            border: none;
        }

        button {
            margin-left: 9px;
            padding: 7px 8px;
            font-weight: bold;
        }

        @media all and (max-width: 480px) {
            button {
                margin-left: 0px;
                margin-top: 15px;
            }
        }
    }
}