.notification {
    display: flex;
    justify-content: center;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $color-smoke-grey;

    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 720px;
        font-size: 12px;

        span {
            padding-right: 30px;
        }

        a {
            text-decoration: none;
            color: #0a0abb;
        }

        button {
          width: 60px;
          min-width: 60px;
          padding: 8px;
        }
    }
}