.notification {
    display: flex;
    justify-content: center;
    line-height: 1.5;
    padding: 14px 11px;
    background-color: $color-smoke-grey;

    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 720px;
        font-size: 12px;

        @media all and (max-width: 425px) {
            flex-direction: column; 
            align-items: flex-start;  
        }

        span {
            padding-right: 20px;
        }

        a {
            text-decoration: none;
            color: #0a0abb;
        }

        button {
          width: 60px;
          min-width: 60px;
          padding: 8px;
        }

        @media all and (max-width: 425px) {
            button {
                margin-top: 10px;
            }
        }
    }
}

.sticky-notification {
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}


