.notification {
    display: flex;
    justify-content: center;
    padding: 15px;
    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 720px;
        font-size: 12px;

        span {
            padding-right: 30px;
        }

        button {
          width: 59px;
          padding: 8px;
        }
    }
}