.animation {
    // Newsletter
    &__newsletter-enter {
        height: 0px;
    }

    &__newsletter-enter-active {
        height: 222px;
        transition: height 1s ease;
    }

    &__newsletter-exit {
        height: 222px;
    }

    &__newsletter-exit-active {
        height: 0px;
        transition: height 1s ease;
    }   

    // Notification
    &__notification-enter {
        height: 0px;
    }

    &__notification-enter-active {
        height: 64px;
        transition: height 1s ease;
    }

    &__notification-exit {
        height: 64px;
    }

    &__notification-exit-active {
        height: 0px;
        transition: height 1s ease;
    }
}