$color-blue: rgb(0, 123, 193); // ​#007bc1
$color-dark-blue: rgb(0, 74, 117); // ​#004a75
$color-orange: #ff8000; 
$color-dark-orange: rgb(204, 102, 0); // ​#cc6600
$color-smoke-grey: rgb(	229, 229, 229); // ​#e5e5e5